
.icon-basket:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-cc:before { content: '\e802'; } /* '' */
.icon-basket-1:before { content: '\e803'; } /* '' */
.icon-box:before { content: '\e804'; } /* '' */
.icon-truck:before { content: '\e805'; } /* '' */
.icon-credit-card-1:before { content: '\e812'; } /* '' */
.icon-twitter-1:before { content: '\f058'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-visa:before { content: '\f328'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */